BLOCKINGMODE=NODATA
CNAME_DEEP_INSPECT=true
RATE_LIMIT=1000/60
REPLY_WHEN_BUSY=DROP
MOZILLA_CANARY=true
BLOCK_ICLOUD_PR=true
PRIVACYLEVEL=0
IGNORE_LOCALHOST=no
AAAA_QUERY_ANALYSIS=yes
ANALYZE_ONLY_A_AND_AAAA=false
SOCKET_LISTENING=all
RESOLVE_IPV6=yes
RESOLVE_IPV4=yes
PIHOLE_PTR={{ inventory_hostname }}
REFRESH_HOSTNAMES=ALL
MAXDBDAYS=30
