PIHOLE_INTERFACE=eth0
PIHOLE_DNS_1=127.0.0.1#{{ pihole_unbound_port }}
PIHOLE_DNS_2=
QUERY_LOGGING=true
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
CACHE_SIZE=10000
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSMASQ_LISTENING=local
BLOCKING_ENABLED=true
TEMPERATUREUNIT=C
DHCP_ACTIVE={{ pihole_dhcp_enabled | bool }}
DHCP_START={{ pihole_dhcp_config.start }}
DHCP_END={{ pihole_dhcp_config.end }}
DHCP_ROUTER={{ pihole_dhcp_config.router }}
DHCP_LEASETIME=2
PIHOLE_DOMAIN={{ pihole_dhcp_config.domain }}
DHCP_IPv6=false
DHCP_rapid_commit=false
DNSSEC=false
REV_SERVER=false